.contentform {
  width: 1330px;
  .title {
    width: 80%;
    a {
      border: 0;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
  form {
    .block {
      border: solid 1px var(--neon-blue);
      border-radius: 5px;
      box-shadow: var(--neon-blue) 0 -1px 5px;
      width: 700px;
      padding: 20px 80px;
      .groupeform {
        width: 100%;
        .input {
          border: 1px solid var(--dark-1);
        }
      }
      .btnform {
        width: 80%;
        button {
          border-radius: 15px;
          margin: 10px 0;
        }
      }
    }
    .pswd {
      background-color: var(--light-1);
      border-radius: 10px;
      border: 1px solid var(--dark-1);
      input {
        width: 95%;
      }
      button {
        background-color: var(--light-1);
        border: 0;
        border-radius: 10px;
        margin-right: 5px;
        width: 25px;
        i {
          color: var(--dark-1);
        }
      }
    }
  }
}

.card {
  box-shadow: 0px 0px 15px var(--neon-blue);
  transition: 0.3s;
  width: 400px;
  height: 225px;
  overflow: hidden;
  background-color: transparent;
  img {
    filter: blur(1px);
  }
  h2 {
    font-size: 30px;
    position: absolute;
    color: white;
    text-shadow: 2px 0 #111, -2px 0 #111, 0 2px #111, 0 -2px #111, 1px 1px #111,
      -1px -1px #111, 1px -1px #111, -1px 1px #111;
  }
  &:hover {
    box-shadow: 0px 0px 50px var(--neon-pink);
    transition: 0.3s;
    transform: scale(1.1);
  }
}

@media (max-width: 1024px) {
  .card {
    width: 325px;
    height: 180px;
  }

  .contentform {
    width: 100%;
  }
}

@media (max-width: 717px) {
  .contentform {
    width: 100%;
    form {
      width: 90%;
      .block {
        width: 100%;
        padding: 5px;
        .groupeform {
          width: 90%;
        }
      }
    }
  }
}
