.topbar {
  width: 1300px;
  margin: auto;
  margin-bottom: 100px;
  .topbarbtn {
    &:nth-of-type(even) {
      background: linear-gradient(var(--dark-1) 0 0) padding-box,
        linear-gradient(to right, var(--neon-blue), var(--neon-pink) 100%)
          border-box;
    }
    overflow: hidden;
    height: 50px;
    width: 325px;
    border-radius: 3px;
    border: 2px dashed var(--dark-1);
    background: linear-gradient(var(--dark-1) 0 0) padding-box,
      linear-gradient(to left, var(--neon-blue), var(--neon-pink) 100%)
        border-box;
    margin: 5px;
    &:hover {
      transition: 0.2s;
      color: white;
      transform: scale(1.05);
    }
    a {
      background-color: transparent;
      width: 100%;
      height: 100%;
      padding: 5px;
      transition: 0.2s;
      text-decoration: none;
      color: var(--black-1);
    }
  }

  @media (max-width: 1024px) {
    .topbarbtn {
      height: 85px;
      flex: 1;
      a {
        transition: 0.2s;
        text-decoration: none;
        color: var(--black-1);
        font-size: 12px;
        &:hover {
          transition: 0.2s;
          color: white;
          transform: scale(1.05);
        }
      }
    }
  }
}
