.profileContainer {
  width: 1300px;
  background-color: var(--dark-1);
  .profileHeader {
    height: 300px;
    .banner {
      height: auto;
      width: 100%;
      background-size: cover;
    }
    .pp {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
      }
    }
    .surname {
      backdrop-filter: blur(5px);
      font-size: 50px;
      color: var(--neon-blue);
      text-shadow: 2px 0 var(--neon-blue), -2px 0 var(--neon-blue),
        0 2px var(--neon-blue), 0 -2px var(--neon-blue),
        1px 1px var(--neon-blue), -1px -1px var(--neon-blue),
        1px -1px var(--neon-blue), -1px 1px var(--neon-blue);
    }
    .i {
      backdrop-filter: blur(5px);
      font-size: 50px;
      i {
        backdrop-filter: brightness(1);
        margin: 10px;
        color: var(--neon-pink);
        opacity: 0.33;
        transition: 0.2s;
        &:hover {
          opacity: 1;
          transition: 0.2s;
          cursor: pointer;
        }
      }
    }
  }
}
