.content {
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px 0 10px 20px;
}

.groupcontent {
  transition: 0.2s;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 220px;
  margin: 10px 0 30px;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s;
  }
  .img {
    width: 218px;
    height: 218px;
    overflow: hidden;
    img {
      filter: blur(1px);
    }
    span {
      position: absolute;
      font-size: 40px;
      color: var(--light-1);
      text-shadow: 2px 0 #111, -2px 0 #111, 0 2px #111, 0 -2px #111,
        1px 1px #111, -1px -1px #111, 1px -1px #111, -1px 1px #111;
    }
  }
  .desc {
    width: 70%;
    h2 {
      padding: 10px 0;
    }
  }
  .divider {
    height: 90%;
    width: 1px;
    margin: 5px;
    background-color: var(--neon-pink);
    box-shadow: 0 0 5px 1px var(--neon-pink);
    border-radius: 25px;
    filter: brightness(1.5);
  }
  .sono {
    width: 13%;
    padding: 10px;
  }
}

@media (max-width: 717px) {
  .groupcontent {
    margin: 15px 0;
    height: 280px;
  }

  .divider {
    min-height: 1px;
    min-width: 90%;
  }

  .img {
    max-height: 120px;
    max-width: 120px;
  }

  .sono {
    min-width: 100%;
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}
