.absolute {
  padding: 10px 0;
  .burger {
    display: none;
  }

  .sidebar {
    width: 300px;
    position: sticky;
    top: 100px;
    z-index: 1;
    .rangeslider {
      padding: 0 5px;
      .slider {
        width: 80%;
      }
    }
    .filter {
      width: 100%;
      padding: 10px 0;
      span {
        max-width: 100%;
        font-size: 14px;
        select {
          min-width: 30px;
          height: 30px;
          border-radius: 5px;
          margin-left: 10px;
          option {
            width: 100%;
          }
        }
        input[type="checkbox"] {
          min-width: 18px;
          height: 18px;
        }
      }
      .search {
        width: 300px
      }
    }
    .filters {
      font-size: 14px;
      padding: 10px 0;
    }
  }
}

@media (max-width: 1024px) {
  .absolute {
    width: 200px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    .sidebar {
      width: 100%;
      justify-content: center;
      align-items: center;
      .filter {
        padding: 15px 5px;
        span {
          select {
            width: 50px;
          }
        }
      }
      .filters {
        display: flex;
        flex-direction: column;
        width: 100%;
        .span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .rangeslider {
          padding: 0 5px;
          .slider {
            width: 90%;
            margin-left: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 717px) {
  section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .absolute {
      width: 95%;
      .burger {
        margin: 10px 0;
        width: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--light-1);
        border-radius: 10px;
        i {
          font-size: 25px;
          padding: 5px;
        }
      }
      .sidebar {
        margin: 10px 0;
        width: 100%;
        .filter {
          margin: 10px;
          width: 100%;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--light-1);
          border-radius: 10px;
          div {
            width: 100%;
            span {
              width: 30px;
            }
          }
          span {
            width: 100%;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
