.topbar {
  background: linear-gradient(
    -115deg,
    rgba(255, 0, 185, 0.8) 0%,
    rgba(0, 255, 252, 0.8) 100%
  );
}

.topbarbtn {
  flex: 1;
  height: 100px;
  a {
    width: 100%;
    height: 100%;
    padding: 5px;
    transition: 0.2s;
    text-decoration: none;
    color: var(--black-1);
    &:hover {
      transition: 0.2s;
      color: white;
      transform: scale(1.05);
    }
  }
  &.mid {
    border-left: 1px dashed var(--neon-pink);
    border-right: 1px dashed var(--neon-blue);
  }
}

@media (max-width: 1024px) {
  .topbarbtn {
    height: 85px;
    flex: 1;
    a {
      transition: 0.2s;
      text-decoration: none;
      color: var(--black-1);
      font-size: 12px;
      &:hover {
        transition: 0.2s;
        color: white;
        transform: scale(1.05);
      }
    }
  }
}
  