.content {
    width: 1000px;
}

.groupcontent {
    width: 305px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        .banner {
            transform: scale(1.2);
        }
    }
    .img {
        min-width: 225px;
        width: 100%;
        height: 180px;
        overflow: hidden;
        img {
            transition: 0.5s;
            height: 100%;
            width: auto;
        }
        .pp {
            margin-right: 115px;
            img {
                border-radius: 50px;
                width: 80px;
                height: 80px;
                position: absolute;
            }
        }
    }
}
