.carousel {
    height: 400px;
    background-color: #111;
    .imgcar {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.left {
    width: 300px;
    button {
        width: 100%;
    }
}

.right {
    width: 300px;
    button {
        width: 100%;
    }
}