:root {
    --dark-1: rgb(20, 17, 20);
    --dark-2: rgb(25, 21, 25);
    --light-1: rgb(237, 235, 237);
    --light-2: rgb(232, 229, 232);
    --neon-blue: rgba(0, 255, 252, 0.66);
    --neon-pink: rgba(255, 0, 185, 0.66);
    --neon-gradient: linear-gradient(-115deg, rgba(255, 0, 185, 0.75) 0%, rgba(0, 255, 252, 0.75) 100% );
    --neon-graient-reverse: linear-gradient(90deg, rgba(0,255,252,1) 0%, rgba(255,0,185,1) 100%);
    --error: red;
    --opacity-dark-1:rgba(13, 10, 13, 0.2); 
    --opacity-dark-2:rgba(24, 15, 24, 0.2); 
    --divider:#999;
    --text-color: #f4f3f5;
    --font-family: 'Nunito', sans-serif;
    --box-shadow-gradient: 1px 1px #333;
}
